openapi: 3.2.0
info:
  title: Kling AI Open Platform Virtual Try-On API
  description: The Kling AI Open Platform is the developer API for Kuaishou's Kling generative video and image models.
  version: '1.0'
  contact:
    name: Kling AI Open Platform
    url: https://app.klingai.com/global/dev
servers:
- url: https://api.klingai.com
  description: Kling AI Open Platform (global)
security:
- bearerAuth: []
tags:
- name: Virtual Try-On
  description: Composite a garment onto a person image.
paths:
  /v1/images/kolors-virtual-try-on:
    post:
      operationId: createVirtualTryOnTask
      tags:
      - Virtual Try-On
      summary: Create a virtual try-on task
      description: Composite a garment image onto a person/model image.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTryOnRequest'
      responses:
        '200':
          description: Task accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedResponse'
  /v1/images/kolors-virtual-try-on/{task_id}:
    get:
      operationId: getVirtualTryOnTask
      tags:
      - Virtual Try-On
      summary: Query a virtual try-on task
      parameters:
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: Task status and, when complete, the try-on image URLs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageTaskResponse'
components:
  schemas:
    ImageTaskResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        request_id:
          type: string
        data:
          type: object
          properties:
            task_id:
              type: string
            task_status:
              type: string
              enum:
              - submitted
              - processing
              - succeed
              - failed
            task_result:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: object
                    properties:
                      index:
                        type: integer
                      url:
                        type: string
    VirtualTryOnRequest:
      type: object
      required:
      - human_image
      - cloth_image
      properties:
        model_name:
          type: string
          example: kolors-virtual-try-on-v1-5
        human_image:
          type: string
          description: Person/model image URL or base64 string.
        cloth_image:
          type: string
          description: Garment image URL or base64 string.
        callback_url:
          type: string
    TaskCreatedResponse:
      type: object
      properties:
        code:
          type: integer
          description: Business status code (0 indicates success).
        message:
          type: string
        request_id:
          type: string
        data:
          type: object
          properties:
            task_id:
              type: string
            task_status:
              type: string
              enum:
              - submitted
              - processing
              - succeed
              - failed
            created_at:
              type: integer
            updated_at:
              type: integer
  parameters:
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: string
      description: The task identifier returned by the create-task call.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A JWT signed with HS256 from your Access Key (as the iss claim) and Secret Key, passed as Authorization: Bearer <token>. Tokens are short-lived (about 30 minutes; nbf is typically set 5 seconds in the past).'
