openapi: 3.0.3
info:
  title: Kling AI Open Platform Account Image Generation API
  description: 'The Kling AI Open Platform is the developer API for Kuaishou''s Kling generative video and image models. Every capability follows the same asynchronous pattern: submit a task with POST (receiving a task_id), then poll the matching GET endpoint by task_id until status is succeed and the generated video or image URLs are returned. Generated asset URLs are short-lived and should be downloaded promptly. Authentication uses a JWT (HS256) signed from an Access Key / Secret Key pair, passed as a Bearer token; tokens are short-lived (about 30 minutes).


    endpointsModeled: The overall path structure, async task model, JWT auth, and model catalog are grounded in Kling''s official Open Platform documentation and cross-referenced against multiple Kling API wrappers. Kling''s official reference pages block automated fetching (HTTP 446), so exact request/response field-level schemas here are honestly modeled on the documented behavior rather than copied verbatim, and should be reconciled against the live reference before code generation.'
  version: '1.0'
  contact:
    name: Kling AI Open Platform
    url: https://app.klingai.com/global/dev
servers:
- url: https://api.klingai.com
  description: Kling AI Open Platform (global)
security:
- bearerAuth: []
tags:
- name: Image Generation
  description: Generate still images with the Kolors models.
paths:
  /v1/images/generations:
    post:
      operationId: createImageGenerationTask
      tags:
      - Image Generation
      summary: Create an image-generation task
      description: Generate still images from a text prompt with the Kolors models.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Task accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedResponse'
  /v1/images/generations/{task_id}:
    get:
      operationId: getImageGenerationTask
      tags:
      - Image Generation
      summary: Query an image-generation task
      parameters:
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: Task status and, when complete, the generated image URLs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageTaskResponse'
components:
  schemas:
    TaskCreatedResponse:
      type: object
      properties:
        code:
          type: integer
          description: Business status code (0 indicates success).
        message:
          type: string
        request_id:
          type: string
        data:
          type: object
          properties:
            task_id:
              type: string
            task_status:
              type: string
              enum:
              - submitted
              - processing
              - succeed
              - failed
            created_at:
              type: integer
            updated_at:
              type: integer
    ImageTaskResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        request_id:
          type: string
        data:
          type: object
          properties:
            task_id:
              type: string
            task_status:
              type: string
              enum:
              - submitted
              - processing
              - succeed
              - failed
            task_result:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: object
                    properties:
                      index:
                        type: integer
                      url:
                        type: string
    ImageGenerationRequest:
      type: object
      required:
      - prompt
      properties:
        model_name:
          type: string
          description: Image model, e.g. kling-v1, kling-v1-5, kling-v2, kling-v2-1.
          example: kling-v2-1
        prompt:
          type: string
        negative_prompt:
          type: string
        image:
          type: string
          description: Optional reference image URL or base64 string.
        image_reference:
          type: string
          enum:
          - subject
          - face
          description: How the reference image is used.
        n:
          type: integer
          description: Number of images to generate.
        aspect_ratio:
          type: string
          enum:
          - '16:9'
          - '9:16'
          - '1:1'
          - '4:3'
          - '3:4'
        callback_url:
          type: string
  parameters:
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: string
      description: The task identifier returned by the create-task call.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A JWT signed with HS256 from your Access Key (as the iss claim) and Secret Key, passed as Authorization: Bearer <token>. Tokens are short-lived (about 30 minutes; nbf is typically set 5 seconds in the past).'
